[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytz = "*"
django-widget-tweaks = "*"
enum-compat = "*"
eventlet = "*"
python-engineio = "*"
python-socketio = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.9"
